<div *ngFor="let p of subject">
    <h2>{{p.name}} details!</h2>
    <div><label>Name: </label>{{p.name}}
    </div>
    <div>
        <label>Titulacion: </label>
       <br>{{p.titulacion}}
        <!--<input [(ngModel)]="p.titulacion">-->
    </div>
    <div><label>Cuatrimestre: </label>
        <br>{{p.cuatrimestre}}
    </div>
    <div><label>Estudiantes: </label>
        <br>
        <input [(ngModel)]="p.student">
    </div>

    <button (click)="goBack()"> Back </button>
    <button (click)="save(p)">Save</button>
</div>
<!--<ul class="products">
    <li *ngFor="let pro of subject">
        <span class="badge">{{pro.name}}</span>
        Price:<span>{{pro.price}}</span>
    </li>
</ul>-->
