<body>
<div id="search-component">
    <h4>Subject Search</h4>
    <input #searchBox id="search-box" (keyup)="search(searchBox.value)" />
    <div>
        <div *ngFor="let sub of subject | async"
             (click)="gotoDetail(sub)" class="search-result" >
           <h3>{{sub.name}}</h3>
        </div>
    </div>
    <br>
</div>
<br/>



</body>
<!--<ul class="products">
    <li *ngFor="let pro of subject">
        <span class="badge">{{pro.name}}</span>
        Price:<span>{{pro.price}}</span>
    </li>
</ul>-->
